doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ./Partials/head.pug
    body 
        include ./Partials/nav.pug
        h1 Contact US
        div 
            h2 you can reach us through 
            ul 
                li email@gmai.com
                li phone number 
                li fax number 
    footer 
        include ./Partials/footer.pug