doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ./Partials/head.pug
    body 
        include ./Partials/nav.pug
        h1 Our Services
        div 
            ul 
                li we provide help with how pug works 
                li Node JS course 
                li React 
                li Introduction to web 
    footer 
        include ./Partials/footer.pug